.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: azure;
}

.dropdown-content a {
    display: block;
}

#MydropMenu {
    /* display: none; */
}

.showMenu {
    display: block;
}