.body {
    position: relative;
    text-align: center;
    background-color: #D2FFCE;
}
* {
    /* box-sizing: border-box; */
    box-sizing: content-box;
}
header {
    position: sticky;
    top: 0;
    margin: auto;
    display: block;
    width: 900px;
    height: 75px;
    font-size: 20px;
    background-color: white;
    z-index: 1;  
}

header div {
    float: left;
    padding: 0 10px;
}

.logo img {
    height: 60px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

li {
    float: left;
}

li a {
    /* font-size: 20px; */
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: grey;
}

.bigFoodPicture {
    position: relative;
    text-align: center;
}

.bigFoodPicture img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.descriptin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem;
    opacity: 0.9;
    font-size: 20px;
    color: green;
    font-weight: bold;
}

main {
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    border: 1px solid green;
}

article.post {
    display: inline-block;
    overflow: hidden;
    width: 30%;
    height: 380px;
    padding: 3px;
    text-align: center;
}

article.post img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

article.post h2 {
    color: green;
}

article.post a {
    text-decoration: none;
    color: black;
}

.rightMenu {
    float: right;
    width: 230px;
    margin-top: 20px;
    padding: 10px;
    background-color: lightgrey;
}

.rightMenu a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.rightMenu a:hover {
    background-color: grey;
}

div.bottom {
    display: block;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: grey;
}

footer {
    background-color: grey;
    font-size: 18px;
    text-align: center;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    line-height: 35px;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    text-align: center;

}

@media screen and (max-width: 600px) {
    .bigFoodPicture {
        display: none;
    }
        .post {
        width: 100%;
    }
    .logo img {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .descriptin {
        font-size: 10px;
    }
}

@media only screen and (max-width: 768px) {
/* .container {
    width: 700px;
} */
header {
    font-size: 15px;
}

}

@media only screen and (min-width: 768px) {
    .descriptin {
        font-size: 20px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {
    .descriptin {
        font-size: 20px;
    }
}
/* For mobile phones: */
/* [class*="col-"] {
    width: 100%;
  } */
